@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-secondary-white
}

body::-webkit-scrollbar{
    width:15px;
}

.second-scroll-bar::-webkit-scrollbar-track {
    margin-block: 20px;
    border-radius: 15px;
}

body::-webkit-scrollbar-track:hover{
    @apply bg-secondary-filter_grey;
    border-radius: 15px;
}

body::-webkit-scrollbar-thumb {
    @apply bg-secondary-scroll_bar_grey;
    border: 2px solid rgb(203,203,203);
    border-radius: 15px;
}

body::-webkit-scrollbar-thumb:hover {
    @apply bg-secondary-scroll_bar_grey;
    border: 2px solid rgb(203,203,203);
    border-radius: 15px;
}

*{
    @apply font-display;
}

.second-scroll-bar::-webkit-scrollbar{
    width:15px;
}

.second-scroll-bar::-webkit-scrollbar-track {
    margin-block: 20px;
    border-radius: 15px;
}

.second-scroll-bar::-webkit-scrollbar-track:hover{
    @apply bg-secondary-filter_grey;
    border-radius: 15px;
}

.second-scroll-bar::-webkit-scrollbar-thumb {
    @apply bg-secondary-scroll_bar_grey;
    border: 2px solid rgb(203,203,203);
    border-radius: 15px;
}

.second-scroll-bar::-webkit-scrollbar-thumb:hover {
    @apply bg-secondary-scroll_bar_grey;
    border: 2px solid rgb(203,203,203);
    border-radius: 15px;
}

a {
    @apply lg:shrink-0;
}
.header{
    @apply h-[115px] w-auto bg-green-filter;
}
.header-logo{
    @apply h-[70px] w-auto inline-block;
}
.header ul {
    @apply right-0 inline-block;
}
.header li {
    @apply inline-block my-5 text-xl justify-center;
}
.runway-container{
    @apply h-auto sm:w-[425px] mx-auto sm:mx-auto lg:ml-[320px] inline-block;
}
.container{
    @apply my-5 z-40;
}
.container-intern{
    @apply h-[175px] w-[300px] sm:h-[250px] sm:w-[425px] bg-secondary-white max-w-lg rounded-xl overflow-hidden lg:max-w-2xl hover:ease-linear hover:scale-110 transition-transform outline outline-secondary-grey;
}
.container:focus{
    .container-intern{
        @apply  outline outline-green-button rounded-xl;
    }
    .container-skills li{
        @apply bg-green-button;
    }
}
.container-h1{
    @apply text-xl underline font-bold text-justify;
}
.container-paragraph {
    @apply mt-2 text-secondary-true_black text-justify;
}
.container-skills{
    @apply relative mt-8;
}
.container-skills ul{
    @apply flex;
}
.container-skills li{
    @apply  w-[125px] h-[38px] rounded-xl p-3 mx-1 flex items-center justify-center bg-secondary-grey;
}
.container-div-para {
    @apply p-8;
}
.addContainer-intern{
    @apply fixed right-10 bottom-10 bg-secondary-white text-5xl rounded-full py-3 px-5 transition-all;
}

/* -----------------------------LA BELLE BUBULLE FAITE PAR STEPHAN---------------------------------- */

.runway-container-intern-details {
    @apply font-medium h-auto sm:w-[1040px] mx-auto sm:mx-auto lg:ml-[55px] inline-block align-top;
}

.container-intern-details {
    @apply overflow-y-auto h-[830px] mt-5 bg-secondary-white rounded-3xl outline outline-green-button shadow-2xl;
}

.container-div-par-intern-details {
    @apply h-auto mb-10 ml-20 mr-20;
}

.container-close-tab {
    
}

.close-tab-logo-picture {
    @apply inline lg:inline-block h-[23px] w-auto;
}

.button-close-tab {
    @apply mt-2 ml-[985px] inline lg:inline-block;
}

.header-intern-details {
    @apply mb-5;
}

.company-logo-picture {
    @apply inline-block h-[103px] w-auto;
}

.unselected-wishlist-logo-picture {
    @apply inline-block h-[43px] w-auto cursor-pointer;
}

.selected-wishlist-logo-picture {
    @apply h-[43px] w-auto cursor-pointer hidden;
}

.is-selected {
    @apply inline-block;
}

.remove-wishlist-picture{
    @apply hidden;
}

.container-header-intern-details {
    @apply inline-block text-center text-5xl mx-[160px];
}

.container-left-informations {
    @apply inline-block w-[436px] text-2xl; 
}

.container-left-informations h1 {
    @apply underline underline-offset-4;
}

.container-left-informations a {
    @apply underline font-bold;
}

.container-right-informations {
    @apply inline-block w-auto align-top;
}

.container-right-informations p {
    @apply text-3xl underline underline-offset-4 py-6;
}

.container-skills-details{
    @apply relative mt-8 grid grid-rows-3 grid-flow-col gap-4;
}
.container-skills-details div{
    @apply  text-2xl w-[176px] h-[55px] rounded-xl p-3 mx-1 flex items-center justify-center bg-green-2 shadow-2xl;
}

.button-postuler {
    @apply cursor-pointer bg-green-true_btn w-[337px] h-[64px] text-3xl rounded-2xl outline outline-secondary-true_black outline-4 shadow-2xl;
}

.button-postuler:hover {
    @apply cursor-pointer bg-green-true_btn w-[337px] h-[64px] text-3xl rounded-2xl outline outline-green-2 outline-4 shadow-2xl;
}

.container1-bottom-informations {
    @apply my-10 text-2xl;
}

.container1-bottom-informations h1 {
    @apply underline underline-offset-4;
}

.container2-bottom-informations {
    @apply text-2xl;
}

.container2-bottom-informations h1 {
    @apply underline underline-offset-4;
}

/* -------------------------------LA FIN DU TAILWIND BUBULLE FAITE PAR STEPHAN------------------------- */

footer{
    @apply bg-secondary-footer_black h-[1050px] w-auto lg:flex lg:justify-center lg:items-start lg:h-auto z-10 mt-10; 
}
footer h1{
    @apply text-secondary-true_white text-xl;
}
footer li{
    @apply text-secondary-footer_grey text-lg;
}
footer div{
    @apply py-[30px] text-center lg:text-left;
}
.footer-logo-picture{
    @apply inline-block h-auto lg:h-[60px] transition-all my-[20px];
}
.footer-society-list {
    @apply ml-[100px] inline lg:inline-block;
}
.footer-society-list li{
    @apply my-5;
}
.footer-help-list{
    @apply ml-[100px] inline lg:inline-block;
}
.footer-help-list li{
    @apply my-5;
}
.footer-image-list{
    @apply ml-[100px] inline lg:inline-block h-[40px] w-auto text-center items-center justify-center;
}
.footer-image-list ul{
    @apply lg:flex;
}
.footer-image-list li{
    @apply flex justify-center mt-5 lg:mx-2;
}
.logo {
    @apply h-[20px] lg:h-[40px] w-auto;
}