@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    @apply font-display;
}
body,html {
  @apply inline-block overflow-x-hidden w-full h-full;
}
button{
  @apply py-1 px-4 font-semibold rounded-xl shadow-md bg-green-true_btn outline-green-button hover:outline;
}
/* --------------------- DEBUT SCROLLBARS-------------------- */

body::-webkit-scrollbar {
  @apply w-[15px] max-xl:overflow-y-hidden;
}

body::-webkit-scrollbar-thumb {
  @apply bg-secondary-scroll_bar_grey;
  border: 2px solid rgb(185, 185, 185);
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
}

body::-webkit-scrollbar-track:hover {
  @apply bg-secondary-grey;
}
/* --------------------- SECOND SCROLLBARS-------------------- */

.second-scrollbar::-webkit-scrollbar {
  @apply w-[15px];
}

.second-scrollbar::-webkit-scrollbar-thumb {
  margin-block: 20px;
  @apply bg-secondary-scroll_bar_grey;
  border: 2px solid rgb(185, 185, 185);
  border-radius: 10px;
  cursor: default;
}

.second-scrollbar::-webkit-scrollbar-track {
  margin-block: 20px;
  border-radius: 10px;
}

.second-scrollbar::-webkit-scrollbar-track:hover {
  @apply bg-secondary-grey;
  cursor: default;
}

/* --------------------- FIN SCROLLBARS-------------------- */

/* ---------------------Onglet à gauche -------------------*/
.main_left{
  @apply fixed bg-secondary-left_bg_grey w-1/4 h-full flex flex-col flex-wrap items-center top-0          max-lg:hidden max-lg:w-full;
}
#close_menu{
  @apply fixed right-0 top-0 m-3 w-5 cursor-pointer;
}
#button_back{
  @apply relative w-4/5 h-12 mt-8 mb-2;
}

.left_container{
  @apply relative w-4/5 p-3 my-3 bg-green-filter rounded-xl drop-shadow-xl;
}
.left_container p{
  @apply cursor-default;
}
.left_container ul{
  @apply flex flex-col;
}
.left_container ul li a{
  @apply relative inline left-[10%] cursor-pointer hover:text-green-true_btn;
}

.left_hide{
  @apply hidden;
}
#actual_page{
  @apply cursor-default underline hover:text-secondary-true_black;
}

.mobile-menu{
  @apply flex z-20;
}
.display-cross{
  @apply hidden;
}
/* ---------------------Fin onglet gauche -------------------*/
/* ---------------------profil -------------------*/
.main_right{
    @apply fixed ml:left-1/4 left-0 right-0 top-0 bottom-0 lg:m-10 m-4 rounded-xl outline outline-4 outline-green-button bg-secondary-white overflow-hidden;
}
#right_title{
  @apply absolute text-2xl right-5 top-7 px-3 py-1 rounded-xl outline outline-4 outline-green-button;
}
.right_container{
    @apply w-full h-full flex flex-col relative;
}
.right_top{
    @apply flex static w-full h-1/3 items-end justify-evenly;
}
#student_photo{
    @apply w-[200px] h-[200px];
}
.student_info{
    @apply flex p-1 w-1/2 h-[175px] rounded-xl outline outline-green-button lg:flex-col flex-row max-sm:flex-col lg:flex-wrap flex-nowrap justify-evenly content-around;
}
.student_info ul{
    @apply relative w-full flex lg:flex-row flex-col justify-evenly;
}
.right_bottom{
    @apply flex px-8 flex-col static h-[70%] w-full overflow-x-hidden;
}
.scroll_container{
    @apply flex flex-row w-full h-1/2 overflow-x-auto overflow-y-hidden;
}
p.title{ 
    @apply absolute font-normal xl:text-xl sm:text-lg ;
}

/* --------------------- containers -------------------*/
.container-intern {
  @apply h-5/6 w-[275px] rounded-xl bg-secondary-true_white outline outline-secondary-grey mt-8 mx-2 first:ml-0 last:mr-1 cursor-pointer;
}
.container-div-para {
  @apply relative flex flex-col justify-evenly text-sm h-full w-full p-4;
}
.container-h1 {
  @apply text-sm underline font-bold text-justify ;
}
.container-paragraph {
  @apply text-secondary-true_black text-justify;
}
.container-div-para ul {
  @apply flex;
}
.container-div-para li {
  @apply w-[125px] h-[20px] rounded-xl p-3 mx-1 flex items-center justify-center bg-secondary-grey;
}
.container-intern:hover{
  @apply outline-green-button;
  .container-div-para li{
    @apply bg-green-button;
  }
}

/* -------------------Fin containers -------------------*/

/*Hamburger*/
.hamburger{
  @apply block ml:hidden absolute left-5 top-5 h-16 w-16 contrast-0 z-[100];
}
.mobile-menu{
  @apply fixed flex content-center items-center w-full max-[850px]:h-screen z-50;
}

