@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    @apply font-display;
}
body{
    @apply inline-block;
}
button{
    @apply py-1 px-4 font-semibold rounded-xl shadow-md bg-green-true_btn outline-green-button hover:outline;
}
/* --------------------- SECOND SCROLLBARS-------------------- */

.second-scrollbar::-webkit-scrollbar{
    @apply w-[15px];
}

.second-scrollbar::-webkit-scrollbar-thumb{
    margin-block: 20px;
    @apply bg-secondary-scroll_bar_grey cursor-default;
    border: 2px solid rgb(185,185,185);
    border-radius: 10px;
}

.second-scrollbar::-webkit-scrollbar-track{
    margin-block: 20px;
    border-radius: 10px;
}

.second-scrollbar::-webkit-scrollbar-track:hover{
    @apply bg-secondary-grey cursor-default;
}

/* --------------------- FIN SCROLLBARS-------------------- */
/* ---------------------Onglet à gauche -------------------*/
.main_left{
    @apply fixed bg-secondary-left_bg_grey w-1/4 h-full flex flex-col flex-wrap items-center top-0          max-lg:hidden max-lg:w-full;
}
#close_menu{
    @apply fixed right-0 top-0 m-3 w-5 cursor-pointer;
}
#button_back{
    @apply relative w-4/5 h-12 mt-8 mb-2;
}

.left_container{
    @apply relative w-4/5 p-3 my-3 bg-green-filter rounded-xl drop-shadow-xl;
}
.left_container p{
    @apply cursor-default;
}
.left_container ul{
    @apply flex flex-col;
}
.left_container ul li a{
    @apply relative inline left-[10%] cursor-pointer hover:text-green-true_btn;
}

.left_hide{
    @apply hidden;
}
#actual_page{
    @apply cursor-default underline hover:text-secondary-true_black;
}

.mobile-menu{
    @apply flex z-20;
}
.display-cross{
    @apply hidden;
}
/* ---------------------Fin onglet gauche -------------------*/

/*Partie droite*/
.main_right{
    @apply fixed md:left-1/4 md:right-0 md:top-0 bottom-0 m-10 rounded-xl outline outline-4 outline-green-button bg-secondary-white overflow-y-auto max-[770px]:absolute max-[770px]:w-[70vh] max-[770px]:h-2/3 max-[770px]:bottom-0 max-[770px]:mt-2; 
}
.right_title{
    @apply absolute text-2xl right-5 top-7 py-1 rounded-xl outline outline-4 outline-green-button md:px-6 xl:px-10;
}
.container_right{
    @apply w-auto h-auto flex justify-center bg-secondary-white overflow-y-auto max-[770px]:w-[70vh];
}
.main_container_right {
    @apply flex xl:w-[1100px] xl:h-[70vh] justify-center flex-col space-y-4 items-center overflow-y-auto bg-secondary-white mt-28 md:justify-normal max-[770px]:mt-4 max-[770px]:items-stretch;
}
.container_items{
    @apply border-[4px] rounded-[11px] cursor-pointer hover:underline flex xl:p-6 xl:w-[850px] mt-[130px]  py-[15px] justify-between lg:w-[600px] md:p-4 md:w-[450px] md:mt-1;
}
.container_items p{
    @apply flex items-center max-[770px]:mr-4;
}
.container_items img{
    @apply xl:w-10 flex md:w-[25px] max-[770px]:w-[25px];
}

/*Scrollbar*/
.main_container_right::-webkit-scrollbar{
    @apply w-[15px];
}

.main_container_right::-webkit-scrollbar-thumb{
    margin-block: 20px;
    @apply bg-secondary-scroll_bar_grey cursor-default;
    border: 2px solid rgb(185,185,185);
    border-radius: 10px;
}

.main_container_right::-webkit-scrollbar-track{
    margin-block: 20px;
    border-radius: 10px;
}

.main_container_right:-webkit-scrollbar-track:hover{
    @apply bg-secondary-grey cursor-default;
}


