{% extends 'profile_base.html.twig' %}
{% block title %}WishList{% endblock %}
{% block stylesheet %} <link href="css/OutputFicheEtudiant.css" rel="stylesheet"/> {% endblock %}
{% block javascript %}
<script src="main/main.js"></script>
<script src="FicheEtudiant.js"></script>
{% endblock %}

{% block body %}
    <body>

    <div class="main_right">
        <div class="right_container">
            <div class="right_top">
                <img src="images/Icones/profile.png"" alt="photo de l'étudiant" id="student_photo">
                <div class="student_info">
                    <div class="student_info_left1">
                        <ul>
                            <li><p>Nom</p></li>
                            <li><p>Prenom</p></li>
                            <li><p>Age</p></li>
                        </ul>
                    </div>
                    <div class="student_info_left1">
                        <ul>
                            <li><p>Promotion</p></li>
                            <li><p>N°utilisateur</p></li>
                            <li><p>Centre</p></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="right_bottom">
                <div class="top_container">
                    <p class="title">Postulations</p>
                    <div class="container-intern">
                        <div class="container-div-para">
                            <h1 class="container-h1">Commercial H/F - Bac+2</h1>
                            <p class="container-paragraph">Orange - Reims</p>
                            <p class="container-paragraph">Début = 31/01/2024</p>
                            <p class="container-paragraph">3 semaines</p>
                            <div class="container-skills">
                                <ul>
                                    <li>Js</li>
                                    <li>Js</li>
                                    <li>Js</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="container-intern">
                        <div class="container-div-para">
                            <h1 class="container-h1">Commercial H/F - Bac+2</h1>
                            <p class="container-paragraph">Orange - Reims</p>
                            <p class="container-paragraph">Début = 31/01/2024</p>
                            <p class="container-paragraph">3 semaines</p>
                            <div class="container-skills">
                                <ul>
                                    <li>Js</li>
                                    <li>Js</li>
                                    <li>Js</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="container-intern">
                        <div class="container-div-para">
                            <h1 class="container-h1">Commercial H/F - Bac+2</h1>
                            <p class="container-paragraph">Orange - Reims</p>
                            <p class="container-paragraph">Début = 31/01/2024</p>
                            <p class="container-paragraph">3 semaines</p>
                            <div class="container-skills">
                                <ul>
                                    <li>Js</li>
                                    <li>Js</li>
                                    <li>Js</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="container-intern">
                        <div class="container-div-para">
                            <h1 class="container-h1">Commercial H/F - Bac+2</h1>
                            <p class="container-paragraph">Orange - Reims</p>
                            <p class="container-paragraph">Début = 31/01/2024</p>
                            <p class="container-paragraph">3 semaines</p>
                            <div class="container-skills">
                                <ul>
                                    <li>Js</li>
                                    <li>Js</li>
                                    <li>Js</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="bottom_container">
                    <p class="title">Wishlist</p>
                    <div class="container-intern">
                        <div class="container-div-para">
                            <h1 class="container-h1">Commercial H/F - Bac+2</h1>
                            <p class="container-paragraph">Orange - Reims</p>
                            <p class="container-paragraph">Début = 31/01/2024</p>
                            <p class="container-paragraph">3 semaines</p>
                            <div class="container-skills">
                                <ul>
                                    <li>Js</li>
                                    <li>Js</li>
                                    <li>Js</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="container-intern">
                        <div class="container-div-para">
                            <h1 class="container-h1">Commercial H/F - Bac+2</h1>
                            <p class="container-paragraph">Orange - Reims</p>
                            <p class="container-paragraph">Début = 31/01/2024</p>
                            <p class="container-paragraph">3 semaines</p>
                            <div class="container-skills">
                                <ul>
                                    <li>Js</li>
                                    <li>Js</li>
                                    <li>Js</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="container-intern">
                        <div class="container-div-para">
                            <h1 class="container-h1">Commercial H/F - Bac+2</h1>
                            <p class="container-paragraph">Orange - Reims</p>
                            <p class="container-paragraph">Début = 31/01/2024</p>
                            <p class="container-paragraph">3 semaines</p>
                            <div class="container-skills">
                                <ul>
                                    <li>Js</li>
                                    <li>Js</li>
                                    <li>Js</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="container-intern">
                        <div class="container-div-para">
                            <h1 class="container-h1">Commercial H/F - Bac+2</h1>
                            <p class="container-paragraph">Orange - Reims</p>
                            <p class="container-paragraph">Début = 31/01/2024</p>
                            <p class="container-paragraph">3 semaines</p>
                            <div class="container-skills">
                                <ul>
                                    <li>Js</li>
                                    <li>Js</li>
                                    <li>Js</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>

    <script>
        const menuHamburger = document.querySelector(".hamburger");
        const containerLinks = document.querySelector(".main_left");

        menuHamburger.addEventListener('click', () => { containerLinks.classList.toggle('mobile-menu'); });
    </script>

    </body>
{% endblock %}