@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    @apply font-display;
}

a {
    @apply lg:shrink-0;
}
.runway-container{
    @apply h-screen w-[425px] mx-auto lg:ml-[320px];
}
.focus\:outline-green-button:focus{
    border-color : #39A325;
}
.disabled\:outline-secondary-grey:focus{
    border-color: #B9B9B9;
}
.focus\:bg-green-button:focus{
    background-color : #39A325;
}
.disabled\:bg-secondary-grey:focus{
    background-color: #B9B9B9;
}
.container-intern{
    @apply focus:outline-green-button h-[250px] w-[425px] bg-secondary-white max-w-lg my-5 rounded-xl shadow-2xl overflow-hidden lg:max-w-2xl hover:scale-110 hover:ease-linear transition-all outline disabled:outline-secondary-grey;
}
.container-h1{
    @apply text-xl underline font-bold text-justify;
}
.container-paragraph {
    @apply mt-2 text-secondary-true_black text-justify;
}
.container-skills{
    @apply relative mt-8;
}
.container-skills ul{
    @apply flex;
}
.container-skills li{
    @apply flex items-center justify-center disabled:bg-secondary-grey focus:bg-green-button w-[125px] h-[38px] rounded-xl p-3 mx-1;
}
.container-div-para {
    @apply p-8;
}
.addContainer-intern{
    @apply fixed right-10 bottom-10 bg-secondary-white text-5xl rounded-full py-3 px-5 transition-all;
}