{% extends 'profile_base.html.twig' %}
{% block title %}Inter'net - Postulations{% endblock %}
{% block stylesheet %} <link href="css/OutputPostulation.css" rel="stylesheet"/> {% endblock %}
{% block javascript %}
<script src="main/main.js"></script>
<script src="Postulation.js"></script>
{% endblock %}

{% block body %}
    <body>

    <div class="main_right">
        <div class="container_right">
            <p class="right_title">Postulations</p>
            <div class="main_container_right second-scrollbar">
                {% for internship in internships %}
                <div class="container_items">
                    <p>{{ internship.job }} - {{ internship.company }}</p>
                    <img src="images/Icones/check.png" alt="poubelle" class="poubelle-logo">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% block javascript2 %}
        <script>
            const menuHamburger = document.querySelector(".hamburger");
            const containerLinks = document.querySelector(".main_left");

            menuHamburger.addEventListener('click', () => { containerLinks.classList.toggle('mobile-menu'); });
        </script>
    {% endblock %}

    </body>
{% endblock %}
