<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="website icon" type="png" href="../../Assets/Icones/logo_seul_blanc.png">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../main/main.js"></script>
    <script src="../../public/js/WishList.js"></script>
    <link href="output.css" rel="stylesheet">
    <title>Wishlist</title>
</head>

<body>
    <div class="main_left">
        <img src="../../Assets/Icones/croix-supprimer-le-signe.png" alt="fermer le menu" id="close_menu" class="display-cross" onclick="toggle_menu()">
        <button id="button_back" onclick="window.location.href = '../Welcome/Welcome.html'">Retour</button>
        <div class="left_container">
            <p>Etudiants</p>
            <ul>
                <li><a href="../../Profile/Profile.html">Mon profil</a></li>
                <li><span><a id="actual_page">WishList</a></span></li>
                <li><a href="#">Mes postulations</a></li>
            </ul>
        </div>
    </div>
    <div><img class="hamburger" src="../../Assets/Icones/hamburger.png" alt="hamburger"></div>
    
    <div class="main_right">
            <div class="container_right">
            <p class="right_title">WishList</p>
                <div class="main_container_right">
                    <div class="container_items">
                    <p>Commercial H/F - Orange France</p>
                    <img src="../../Assets/Icones/poubelle-de-recyclage.png" alt="poubelle" class="poubelle-logo">
                    </div>
                    <div class="container_items">
                    <p>Stage Etudiant PHP - Amazon market place</p>
                    <img src="../../Assets/Icones/poubelle-de-recyclage.png" alt="poubelle" class="poubelle-logo">
                    </div>
                    <div class="container_items">
                    <p>Stage Etudiant PHP - Amazon market place</p>
                    <img src="../../Assets/Icones/poubelle-de-recyclage.png" alt="poubelle" class="poubelle-logo">
                    </div>
                    <div class="container_items">
                    <p>Stage Etudiant PHP - Amazon market place</p>
                    <img src="../../Assets/Icones/poubelle-de-recyclage.png" alt="poubelle" class="poubelle-logo">
                    </div>
                    <div class="container_items">
                    <p>Stage Etudiant PHP - Amazon market place</p>
                    <img src="../../Assets/Icones/poubelle-de-recyclage.png" alt="poubelle" class="poubelle-logo">
                    </div>
                    <div class="container_items">
                    <p>Stage Etudiant PHP - Amazon market place</p>
                    <img src="../../Assets/Icones/poubelle-de-recyclage.png" alt="poubelle" class="poubelle-logo">
                    </div>
                </div>
            </div>    
    </div>      
</body>

<script>
    const menuHamburger = document.querySelector(".hamburger")
    const containerLinks = document.querySelector(".main_left")

    menuHamburger.addEventListener('click', () => { containerLinks.classList.toggle('mobile-menu') })
</script>

</html>














