{% extends 'base.html.twig' %}
{% block title %} Inter'net - Statistiques des entreprises {% endblock %}
{% block stylesheet %}
    <link href='css/OutputCompanyStats.css' rel="stylesheet"/> {% endblock %}
{% block javascript %}
<script type="text/javascript" src='https://code.highcharts.com/highcharts.js'></script>
<script src='js/CompanyStats.js'></script>
{% endblock %}
{% block Statistics %}
    <div class="navbar-current">
        <a></a>
        <label class="label">***************</label>
    </div>
{% endblock %}
{% block body %}
    <body>
    <div class="full-runway">
        <div class="both-container-stats">
            <div class="left-container-stats">
                <div class="left-container-actual-stats" id="graph-city"></div>
                <div class="left-container-search">
                    <div class="filter-block_search-top">
                        <p>Villes :</p>
                        <div class="search_bar">
                            <input type="search" id="input_city" placeholder="Rechercher"
                                   onkeydown="load_filter(event, 'input_city');" data-children='city'>
                            <button type="button" onclick="load_filter(event, 'input_city');"><img
                                        src="images/Icones/logo_seul.png" alt="V"/></button>
                        </div>
                    </div>
                    <div class="filter-block_search-bot">
                        <div id="city0" hidden onclick="del_filter_block_internshipStats(event, 'input_city')">
                            <p></p>
                            <img src="images/Icones/croix-supprimer-le-signe.png">
                        </div>
                        <div id="city1" hidden onclick="del_filter_block_internshipStats(event, 'input_city')">
                            <p></p>
                            <img src="images/Icones/croix-supprimer-le-signe.png">
                        </div>
                        <div id="city2" hidden onclick="del_filter_block_internshipStats(event, 'input_city')">
                            <p></p>
                            <img src="images/Icones/croix-supprimer-le-signe.png">
                        </div>
                        <div id="city3" hidden onclick="del_filter_block_internshipStats(event, 'input_city')">
                            <p></p>
                            <img src="images/Icones/croix-supprimer-le-signe.png">
                        </div>
                        <div id="city4" hidden onclick="del_filter_block_internshipStats(event, 'input_city')">
                            <p></p>
                            <img src="images/Icones/croix-supprimer-le-signe.png">
                        </div>
                        <div id="city5" hidden onclick="del_filter_block_internshipStats(event, 'input_city')">
                            <p></p>
                            <img src="images/Icones/croix-supprimer-le-signe.png">
                        </div>
                    </div>
                    <p id="nb_stages"><b id="var-nb_stages">0</b> entreprises dans ces villes</p>
                </div>
            </div>
            <div class="right-container-stats">
                <img class="right-container-actual-stats" id="map-sector" src=""></img>
                <div class="right-container-search">
                    <div class="filter-block_search-top">
                        <p>Secteurs d'activités :</p>
                        <div class="search_bar">
                            <input type="search" id="input_sector" placeholder="Rechercher"
                                   onkeydown="load_filter(event, 'input_sector');" data-children='sect'>
                            <button type="button" onclick="load_filter(event, 'input_sector');"><img
                                        src="images/Icones/logo_seul.png" alt="V"/></button>
                        </div>
                    </div>
                    <div class="filter-block_search-bot">
                        <div id="sect0" hidden onclick="del_filter_block_internshipStats(event, 'input_sector')">
                            <p></p>
                            <img src="images/Icones/croix-supprimer-le-signe.png">
                        </div>
                        <div id="sect1" hidden onclick="del_filter_block_internshipStats(event, 'input_sector')">
                            <p></p>
                            <img src="images/Icones/croix-supprimer-le-signe.png">
                        </div>
                        <div id="sect2" hidden onclick="del_filter_block_internshipStats(event, 'input_sector')">
                            <p></p>
                            <img src="images/Icones/croix-supprimer-le-signe.png">
                        </div>
                        <div id="sect3" hidden onclick="del_filter_block_internshipStats(event, 'input_sector')">
                            <p></p>
                            <img src="images/Icones/croix-supprimer-le-signe.png">
                        </div>
                        <div id="sect4" hidden onclick="del_filter_block_internshipStats(event, 'input_sector')">
                            <p></p>
                            <img src="images/Icones/croix-supprimer-le-signe.png">
                        </div>
                        <div id="sect5" hidden onclick="del_filter_block_internshipStats(event, 'input_sector')">
                            <p></p>
                            <img src="images/Icones/croix-supprimer-le-signe.png">
                        </div>
                    </div>
                    <p id="nb_stages"><b id="var-nb_stages">0</b> entreprises avec ces secteurs d'activités</p>
                </div>
            </div>
        </div>
        <div class="bottom-container">
            <div class="bottom-container-name">
                <h1>Top des annonces les plus solicitées</h1>
            </div>
            <div class="container-company-details-intern-second-scrollbar">
                <button class="container-company-details-container-details-button"
                        id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>1</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
                </button>
                <button class="container-company-details-container-details-button"
                        id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>2</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
                </button>
                <button class="container-company-details-container-details-button"
                        id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>1</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
                </button>
                <button class="container-company-details-container-details-button"
                        id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>3</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
                </button>
                <button class="container-company-details-container-details-button"
                        id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>4</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
                </button>
                <button class="container-company-details-container-details-button"
                        id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>5</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
                </button>
                <button class="container-company-details-container-details-button"
                        id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>6</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
                </button>
                <button class="container-company-details-container-details-button"
                        id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>7</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
                </button>
                <button class="container-company-details-container-details-button"
                        id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>8</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
                </button>
                <button class="container-company-details-container-details-button"
                        id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>9</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
                </button>
                <button class="container-company-details-container-details-button"
                        id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>10</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
                </button>
                <button class="container-company-details-container-details-button"
                        id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>11</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
                </button>
                <button class="container-company-details-container-details-button"
                        id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>12</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
                </button>
            </div>
        </div>
    </div>
    </body>
{% endblock %}