<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="website icon" type="png" href="images/Icones/logo_seul_blanc.png">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/CompanyStats.js"></script>
    <link href="output.css" rel="stylesheet">
    <title>Inter'net - Statistiques des entreprises</title>
</head>


<!-- header -->
<script>
    $(document).ready(function () {
        var Value = "profile";
        var PHPfiles = "Welcome.php";
        data = {
            action: Value
        };
        $.post(PHPfiles, data, function (response) {
            $("#navbar-profile").append(response);
        })
    })
</script>

<header>
    <nav class="navbar">
        <img src="images/Icones/logo_blanc_entier.png" alt="company-logo" class="navbar-logo">
        <img src="images/Icones/logo_seul_blanc.png" alt="mini-company-logo" class="mini-navbar-logo">
        <div class="navbar-links">
            <a href="../Welcome/Welcome.html">Stages</a>
            <a href="../Company/Company.html.twig">Entreprises</a>
            <div class="navbar-current">
                <label class="label">******************</label>
            </div>
            <div class="dropdown1">
                <button class="dropdown-btn">Statistiques</button>
                <img src="images/Icones/Polygon 1.png" alt="polygone-logo" class="polygone-logo">
                <div class="dropdown-items1">
                    <a href="../CompanyStats/CompanyStats.html">Entreprise</a>
                    <a href="../InternshipStats/InternshipStats.html">Stages</a>
                    <br>
                </div>
            </div>
            <div class="dropdown2">
                <button class="dropdown-btn">Prénom Nom</button>
                <img src="images/Icones/Polygon 1.png" alt="polygone-logo" class="polygone-logo">
                <div class="dropdown-items2">
                    <a href="../Profile/Profile.html.twig">Mon Profil</a>
                    <a href="../WishList/WishList.html">Wishlist</a>
                    <a href="../Login/login.php" id="button-disconnect"
                       class="button-disconnect"><span>Déconnexion</span></a>
                </div>
            </div>
        </div>
    </nav>
    <nav>
        <img class="navbar-hamburger" src="images/Icones/hamburger.png" alt="hamburger" onclick="toggle_navbarMenu();">
    </nav>
</header>

<!-- ! body -->
<body>
<div class="full-runway">
    <div class="both-container-stats">
        <div class="left-container-stats">
            <div class="left-container-actual-stats">
                <p>Stats</p>
            </div>
            <div class="left-container-search">
                <div class="left-container-search-name">
                    <h1>Villes:</h1>
                </div>
                <div class="left-container-search-bar">
                    <input type="search" placeholder="Rechercher">
                    <button type="button">
                        <img src="images/Icones/logo_seul.png" alt="V">
                    </button>
                </div>
                <div class="left-container-search-cities">
                    <ul>
                        <li>Ville 1</li>
                        <li>Ville 2</li>
                    </ul>
                    <ul>
                        <li>Ville 3</li>
                        <li>Ville 4</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right-container-stats">
            <div class="right-container-actual-stats">
                <p>Stats</p>
            </div>
            <div class="right-container-search">
                <div class="right-container-search-name">
                    <h1>Secteurs d'activité:</h1>
                </div>
                <div class="right-container-search-bar">
                    <input type="search" placeholder="Rechercher">
                    <button type="button">
                        <img src="images/Icones/logo_seul.png" alt="V">
                    </button>
                </div>
                <div class="right-container-search-sectors">
                    <ul>
                        <li>Secteur 1</li>
                        <li>Secteur 2</li>
                    </ul>
                    <ul>
                        <li>Secteur 3</li>
                        <li>Secteur 4</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-container">
        <div class="bottom-container-name">
            <h1>Top des annonces les plus solicitées</h1>
        </div>
        <div class="container-company-details-intern-second-scrollbar">
            <button class="container-company-details-container-details-button"
                    id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>1</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
            </button>
            <button class="container-company-details-container-details-button"
                    id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>2</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
            </button>
            <button class="container-company-details-container-details-button"
                    id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>1</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
            </button>
            <button class="container-company-details-container-details-button"
                    id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>3</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
            </button>
            <button class="container-company-details-container-details-button"
                    id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>4</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
            </button>
            <button class="container-company-details-container-details-button"
                    id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>5</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
            </button>
            <button class="container-company-details-container-details-button"
                    id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>6</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
            </button>
            <button class="container-company-details-container-details-button"
                    id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>7</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
            </button>
            <button class="container-company-details-container-details-button"
                    id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>8</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
            </button>
            <button class="container-company-details-container-details-button"
                    id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>9</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
            </button>
            <button class="container-company-details-container-details-button"
                    id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>10</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
            </button>
            <button class="container-company-details-container-details-button"
                    id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>11</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
            </button>
            <button class="container-company-details-container-details-button"
                    id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>12</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
            </button>
        </div>
    </div>
</div>
</body>

<!-- -------------------------------LA FIN DE LA BUBULLE FAITE PAR STEPHAN------------------------- -->

<link href="http://e0.extreme-dm.com/s9.g?login=daoudi&jv=n&j=y&srw=1920&srb=24&l=https%3A//www.adaoudi.com/">
<footer>
    <div class="footer-logo">
        <img src="images/Icones/logo_blanc_entier.png" alt="logo de l'entreprise" class="footer-logo-picture">
    </div>
    <div class="footer-society-list">
        <h1>Société</h1>
        <ul>
            <li>Condition d'utilisation</li>
            <li>Politique de confidentialité</li>
            <li>Politique de cookies</li>
            <li>Carrière</li>
            <li>A propos de nous</li>
        </ul>
    </div>
    <div class="footer-help-list">
        <h1>Aide</h1>
        <ul>
            <li>FAQs</li>
            <li>Nous contacter</li>
        </ul>
    </div>
    <div class="footer-image-list">
        <h1>Suis nous</h1>
        <ul>
            <a href="https://www.facebook.com">
                <li class="logo"><img src="images/Icones/logo_facebook.png" alt="logo facebook"></li>
            </a>
            <a href="https://www.instagram.com">
                <li class="logo"><img src="images/Icones/logo_insta.png" alt="logo instagram"></li>
            </a>
            <a href="https://www.youtube.com">
                <li class="logo"><img src="images/Icones/logo_ytb.png" alt="logo youtube"></li>
            </a>
            <a href="https://www.twitter.com">
                <li class="logo"><img src="images/Icones/logo_X.png" alt="logo X"></li>
            </a>
        </ul>
    </div>
</footer>

<script>
    var rangeInput = document.getElementById("rangeInput");
    var rangeValue = document.getElementById("rangeValue");
    rangeInput.addEventListener("input", function () {
        rangeValue.textContent = "Bac+" + this.value;
    });
</script>
<script>
    const filterShutter = document.querySelector(".filter-button")
    const filterMenu = document.querySelector(".parent-filter")
    const container = document.querySelector(".runway-container")

    filterShutter.addEventListener('click', () => {
        filterMenu.classList.toggle('filter-mobile_on-filter')
    })
    filterShutter.addEventListener('click', () => {
        container.classList.toggle('filter-mobile_on-container')
    })

    window.addEventListener("resize", () => {
        const widthScreen = window.innerWidth;
        if (widthScreen > 850) {
            filterMenu.classList.remove('filter-mobile_on-filter')
            container.classList.remove('filter-mobile_on-container')

        }
    });

    const menuHamburger = document.querySelector(".navbar-hamburger")
    const navbarLinks = document.querySelector(".navbar-links")

    menuHamburger.addEventListener('click', () => {
        navbarLinks.classList.toggle('mobile-menu')
    })
</script>

<!-- ----------------------DEBUT JS SCRIPT STEPHAN BUBULLE-------------------------- -->

<script>
    const unselectedWishlist = document.querySelector(".unselected-wishlist-logo-picture");
    const selectedWishlist = document.querySelector(".selected-wishlist-logo-picture");

    unselectedWishlist.addEventListener('click', () => {
        unselectedWishlist.classList.add('remove-wishlist-picture');
        selectedWishlist.classList.add('is-selected');
    });

    selectedWishlist.addEventListener('click', () => {
        selectedWishlist.classList.remove('is-selected');
        unselectedWishlist.classList.remove('remove-wishlist-picture');
    });
</script>

<script>
    const buttonCloseTab = document.querySelector(".close-tab-logo-picture");
    const containerInternDetails = document.querySelector(".container-intern-details");
    const containerIntern = document.querySelector(".container-intern");
    const body = document.querySelector("body");

    buttonCloseTab.addEventListener('click', () => {
        containerInternDetails.classList.add('close-tab-clicked');
        body.classList.add('mobile-scroll');
    });

    containerIntern.addEventListener('click', () => {
        containerInternDetails.classList.remove('close-tab-clicked');
        body.classList.remove('mobile-scroll');
    });

    window.onscroll = function () {
        afficherOuMasquerBouton();
        calculRunwayDist();
    };

    function afficherOuMasquerBouton() {
        var boutonRetourHaut = document.getElementById("button-retour-haut");

        if (document.documentElement.scrollTop > 115) {
            boutonRetourHaut.classList.add('retourHaut');
            boutonRetourHaut.classList.remove('display-none');
        } else {
            boutonRetourHaut.classList.add('display-none');
            boutonRetourHaut.classList.remove('retourHaut');
        }
    }

    function retournerEnHaut() {
        document.documentElement.scrollTop = 0;
    }

    function calculRunwayDist() {
        var runwayContainer = document.getElementById('runway-container');
        var heightRunwayContainer = runwayContainer.clientHeight;
        var element = document.getElementById('runway-container-intern-details');
        if (heightRunwayContainer < 750) {
            runwayContainer.style.height = 750 + 'px';
        } else {
            element.style.height = heightRunwayContainer + 'px';
        }
    }
</script>

<!-- ----------------------FIN JS SCRIPT STEPHAN BUBULLE-------------------------- -->
<script>
    $(document).ready(function () {
        $("#postulation-button_postulation").click(function () {
            console.log("postulation");
            var postulationValue = "postulation";
            var welcomePHP = "Welcome.php";
            data = {
                action: postulationValue
            };
            $.post(welcomePHP, data, function (response) {
            })
        })
    })
</script>

<!-- ---------------   JS POSTULATION ------------------------ -->
<script>
    function block_postulation() {
        const header = document.querySelector("header");
        const body = document.querySelector(".full-runway");
        const footer = document.querySelector("footer");
        const postulation_div = document.querySelector(".postulation-bg");

        header.classList.toggle("when_postulation");
        body.classList.toggle("when_postulation");
        footer.classList.toggle("when_postulation");
        postulation_div.classList.toggle("postulation-off");
        postulation_div.classList.toggle("postulation-on");
    }
</script>
<!-- --------------FIN JS POSTULATION ------------------------ -->
</html>