@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply overflow-x-hidden;
}

* {
    @apply font-display;
}

body {
    @apply inline-block max-lg:overflow-x-hidden;
}

/* --------------------- DEBUT SCROLLBARS-------------------- */

body::-webkit-scrollbar {
    @apply w-[15px] max-xl:overflow-y-hidden;
}

body::-webkit-scrollbar-thumb {
    @apply bg-secondary-scroll_bar_grey;
    border: 2px solid rgb(185, 185, 185);
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
}

body::-webkit-scrollbar-track:hover {
    @apply bg-secondary-grey;
}

/* --------------------- SECOND SCROLLBARS-------------------- */

.second-scrollbar::-webkit-scrollbar {
    @apply w-[15px];
}

.second-scrollbar::-webkit-scrollbar-thumb {
    margin-block: 20px;
    @apply bg-secondary-scroll_bar_grey;
    border: 2px solid rgb(185, 185, 185);
    border-radius: 10px;
    cursor: default;
}

.second-scrollbar::-webkit-scrollbar-track {
    margin-block: 20px;
    border-radius: 10px;
}

.second-scrollbar::-webkit-scrollbar-track:hover {
    @apply bg-secondary-grey;
    cursor: default;
}

/* --------------------- FIN SCROLLBARS-------------------- */

/* --------------------- HORIZONTAL SCROLL BAR ------------- */

.container-company-details-intern-second-scrollbar {
    @apply h-[250px] w-full px-3 overflow-x-scroll overflow-y-hidden whitespace-nowrap flex;
}

.container-company-details-intern-second-scrollbar::-webkit-scrollbar {
    @apply h-[15px] w-[15px];
}

.container-company-details-intern-second-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-secondary-scroll_bar_grey ml-[6.5%] mr-[45px] mt-1;
    border: 2px solid rgb(185, 185, 185);
    border-radius: 10px;
    cursor: default;
}

.container-company-details-intern-second-scrollbar::-webkit-scrollbar-track {
    @apply ml-[65px] mr-[45px] mt-1;
    border-radius: 10px;
}

.container-company-details-intern-second-scrollbar::-webkit-scrollbar-track:hover {
    @apply bg-secondary-grey;
    cursor: default;
}

/* --------------------- FIN HORIZONTAL SCROLL BAR ------------- */
/* -----------------------DEBUT HEADER------------------------------- */

.navbar {
    @apply flex relative justify-between box-border h-[60px] sm:h-[115px] w-screen bg-gradient-to-r from-green-linear to-secondary-true_white max-ml:p-0;
}

.navbar-logo {
    @apply h-[70px] w-auto my-auto ml-5 hidden sm:inline-block;
}

.mini-navbar-logo {
    @apply h-[35px] sm:h-[70px] w-auto inline-block my-auto ml-5 sm:hidden;
}

.navbar-links {
    @apply flex items-center mt-3 max-lg:z-50 max-[1024px]:left-0 max-[1024px]:absolute max-[1024px]:w-screen max-[1024px]:bg-secondary-footer_grey max-[1024px]:bg-opacity-100 max-[1024px]:h-[100vh] max-[1024px]:justify-center max-[1024px]:items-center max-[1024px]:ml-[200%] max-[1024px]:transition-all sm:mr-10 max-[1024px]:flex-col;
}

.navbar-current {
    @apply flex flex-col items-center max-[850px]:items-center;
}

.navbar-current label {
    @apply right-[250px] bg-secondary-true_white text-secondary-true_white absolute bottom-0 h-3 max-lg:hidden;
}

.mobile-menu {
    @apply max-ml:ml-0 m-0 fixed;
}

.navbar-links a {
    @apply text-secondary-true_black flex no-underline text-[20px] px-[25px] font-semibold font-display transition-all hover:text-green-button hover:underline max-[850px]:mb-[40px] max-lg:hover:text-secondary-true_black;
}

.dropdown1 {
    @apply list-none p-0 m-0 relative inline-block hover:bg-green-volet max-ml:w-[190px] max-ml:mb-[40px] max-lg:hover:bg-secondary-pp_grey;
}

.dropdown2 {
    @apply list-none p-0 m-0 relative inline-block hover:bg-green-volet max-ml:w-[190px] max-lg:hover:bg-secondary-pp_grey;
}

.polygone-logo {
    @apply h-[15px] w-[35.42px] inline-block;
}

.dropdown-items1 {
    @apply hidden absolute bg-green-volet min-w-6 w-full z-50 max-lg:bg-secondary-pp_grey;
}

.dropdown-items2 {
    @apply hidden absolute bg-green-volet min-w-6 w-full mt-auto max-ml:relative z-50 max-lg:bg-secondary-pp_grey;
}

.dropdown-items1 > a {
    @apply text-secondary-true_white no-underline text-[15px] block ml-2 mt-4 text-left p-0 hover:underline hover:text-secondary-true_white max-[850px]:mb-3;
}

.dropdown-items2 > a {
    @apply text-secondary-true_white no-underline text-[15px] block ml-2 mt-4 text-left p-0 hover:underline hover:text-secondary-true_white max-[850px]:mb-3;
}

.dropdown-items1 a:hover {
    @apply hover:text-green-button max-lg:hover:text-secondary-true_black;
}

.dropdown-items2 a:hover {
    @apply hover:text-green-button max-lg:hover:text-secondary-true_black;
}

.dropdown-items2 #button-disconnect:hover {
    @apply text-secondary-true_black max-lg:hover:text-secondary-true_white;
}

.dropdown-items1:hover {
    @apply max-[850px]:hidden;
}

.dropdown-items2:hover {
    @apply max-[850px]:hidden;
}

.dropdown-items2 span {
    @apply bg-green-2 hover:underline bg-cover uppercase text-center w-full inline-block p-2 ml-[-8px] max-[850px]:mb-0 max-[850px]:absolute max-lg:bg-secondary-true_black;
}

.button-disconnect {
    @apply w-full;
}

.dropdown-btn {
    @apply bg-secondary-transparent text-[20px] pl-[25px] font-semibold font-display transition-all;
}

.dropdown1:hover .dropdown-items1 {
    @apply block max-[850px]:z-50;
}

.dropdown2:hover .dropdown-items2 {
    display: block;
}

.navbar-hamburger {
    @apply hidden absolute top-[13px] sm:top-[25px] right-[30px] sm:right-[50px] w-[30px] sm:w-[60px] max-[1024px]:block max-[1024px]:z-50;
}

/* -----------------------FIN HEADER------------------------------- */
/* filter */
.search_bar {
    @apply h-7 w-full flex;
}

.search_bar input[type="search"] {
    @apply text-center h-full w-5/6 inline-block rounded-l-xl mr-[-5px] bg-secondary-white focus:outline-0 focus:text-green-button;
}

.search_bar button[type="button"] {
    @apply h-full w-1/6 inline-block rounded-none rounded-r-xl bg-secondary-white;
}

.search_bar img {
    @apply h-full pl-1 inline-block;
}

.filter-block_search-bot {
    @apply flex flex-1 flex-wrap content-center justify-evenly;
}

.filter-block_search-bot div {
    @apply rounded-xl bg-secondary-filter_grey text-center w-[48%] my-1 h-6 overflow-hidden;

    img {
        @apply hidden;
    }
}

.filter-block_search-bot div:hover {
    @apply py-1 bg-secondary-red cursor-pointer;

    p {
        @apply hidden;
    }

    img {
        @apply block h-full ml-[45%];
    }
}

#nb_stages {
    @apply absolute bottom-4;
}

/* ------------------------ DEBUT STATS ----------------------------*/
.full-runway {
    @apply relative w-full h-[750px] max-xl:h-[1100px] max-ml:h-[1600px];
}

.top-container {
    @apply relative flex w-full h-[60%] mt-[30px] mb-[30px] max-xl:h-[73%] max-ml:h-[82%];
}

.container-search {
    @apply absolute left-[6%] h-[48%] w-[24%] max-xl:left-[20%] max-xl:h-[25%] max-xl:w-[30%] max-lg:w-[40%] max-lg:left-[10%] max-ml:left-[25%] max-ml:w-[50%] max-ml:h-[16%] max-md:left-[20%] max-md:w-[60%];
}

.left-container-stats {
    @apply inline-block relative h-full w-[47%] mx-[1%] rounded-2xl bg-secondary-white outline outline-4 outline-secondary-true_black;
}

.left-container-actual-stats {
    @apply absolute top-[15%] left-[2%] h-[70%] w-[50%] outline outline-2 outline-secondary-true_black;
}

.left-container-search {
    @apply h-full p-4 rounded-xl bg-green-filter outline outline-4 outline-secondary-true_black;
}

.left-container-search-name {
    @apply text-xl underline underline-offset-4;
}

.left-container-search-bar {
    @apply flex h-[30px] w-full mt-2;
}

.left-container-search-bar input {
    @apply text-xl inline-block w-[90%] p-1 rounded-l-xl bg-secondary-true_white h-full outline-none;
}

.left-container-search-bar button {
    @apply inline-block w-[44px] h-full bg-secondary-true_white rounded-r-xl pr-[4px];
}

.left-container-search-bar img {
    @apply inline-block h-full w-[30px];
}

.left-container-search-cities ul {
    @apply w-[48%] inline-block first:mr-[1%] last:ml-[1%] mt-1;
}

.left-container-search-cities li {
    @apply p-1 rounded-xl bg-secondary-filter_grey text-center w-full my-2 h-[30px] overflow-hidden;
}

.left-container-search-cities p {
    @apply h-auto w-auto;
}

.container-skills-graph {
    @apply absolute bottom-0 left-[6%] h-[48%] w-[24%] mt-[2%] max-xl:left-[51%] max-xl:h-[25%] max-xl:w-[30%] max-xl:top-0 max-xl:mt-0 max-xl:ml-[10px] max-lg:w-[40%]  max-ml:left-[25%] max-ml:w-[50%] max-ml:ml-0 max-ml:top-[17%] max-ml:h-[16%] max-md:left-[20%] max-md:w-[60%];
}

.skills-graph {
    @apply relative h-full w-full outline outline-4 outline-secondary-true_black;
}

.skills-graph-name {
    @apply absolute bottom-0 w-full text-center bg-green-button rounded-xl;
}

.container-internship-time-graph {
    @apply absolute top-0 left-[32%] h-[48%] w-[30%] max-xl:left-[10%] max-xl:h-[35.5%] max-xl:w-[40%] max-xl:top-[27%] max-lg:h-[25%]  max-ml:left-[25%] max-ml:w-[50%] max-ml:ml-0 max-ml:top-[34%] max-ml:h-[16%] max-md:left-[20%] max-md:w-[60%];
}

.internship-time-graph {
    @apply relative h-full w-full outline outline-4 outline-secondary-true_black;
}

.internship-time-graph-name {
    @apply absolute bottom-0 w-full text-center bg-green-button rounded-xl;
}

.container-promotions-graph {
    @apply absolute bottom-0 left-[32%] h-[48%] w-[30%] max-xl:left-[10%] max-xl:h-[35.5%] max-xl:w-[40%] max-xl:top-[64.5%] max-lg:left-[51%] max-lg:ml-[10px] max-lg:top-[27%] max-lg:h-[25%]  max-ml:left-[25%] max-ml:w-[50%] max-ml:ml-0 max-ml:top-[51%] max-ml:h-[16%] max-md:left-[20%] max-md:w-[60%];
}

.promotions-graph {
    @apply relative h-full w-full outline outline-4 outline-secondary-true_black;
}

.promotions-graph-name {
    @apply absolute bottom-0 w-full text-center bg-green-button rounded-xl;
}

.container-france-graph {
    @apply absolute top-0 left-[64%] h-[100%] w-[29%] max-xl:left-[51%] max-xl:h-[73%] max-xl:w-[40%] max-xl:top-[27%] max-xl:ml-[10px] max-lg:top-[54%] max-lg:left-[25%] max-lg:w-[50%] max-lg:ml-0 max-lg:h-[48%]  max-ml:left-[25%] max-ml:w-[50%] max-ml:ml-0 max-ml:top-[68%] max-ml:h-[32%] max-md:left-[20%] max-md:w-[60%];
}

.france-graph {
    @apply relative h-full w-full outline outline-4 outline-secondary-true_black;
}

.france-graph-name {
    @apply absolute bottom-0 w-full text-center bg-green-button rounded-xl;
}

.bottom-container {
    @apply absolute h-[290px] w-full overflow-y-auto overflow-x-hidden;
}

.bottom-container-name {
    @apply text-2xl underline underline-offset-4;
}

.bottom-container-name h1 {
    @apply ml-[1%];
}

.container-company-details-container-details-button {
    @apply flex-none my-5 z-40 items-stretch first:ml-[65px] ml-10 last:mr-10;
}

.container-company-details-container-details {
    @apply relative overflow-hidden h-full w-[350px] bg-secondary-white max-w-2xl rounded-xl 2xl:max-w-2xl hover:ease-linear sm:hover:scale-110 transition-transform outline outline-secondary-grey;
}

.container-announces-number {
    @apply absolute top-4 left-4 text-2xl;
}

.container-company-intern-div-para {
    @apply relative p-4 text-xl h-full text-left;
}

.container-company-intern-skills {
    @apply relative sm:mt-4 text-sm;
}

.container-company-intern-skills ul {
    @apply inline-flex w-full;
}

.container-company-intern-skills li {
    @apply w-full h-[30px] rounded-xl p-3 mx-1 flex items-center overflow-hidden bg-secondary-grey;
}

.container-h1 {
    @apply ml-8 underline underline-offset-4;
}

.container-paragraph {
    @apply ml-8;
}

/* ------------------------ DEBUT STATS ----------------------------*/

/* footer */
footer {
    @apply bg-secondary-footer_black h-[1050px] w-[99.2dvw] lg:flex lg:justify-center lg:items-start lg:h-auto z-10 mt-10;
}

footer h1 {
    @apply text-secondary-true_white text-xl;
}

footer li {
    @apply text-secondary-footer_grey text-lg;
}

footer div {
    @apply py-[30px] text-center lg:text-left;
}

.footer-logo-picture {
    @apply inline-block h-auto lg:h-[60px] transition-all my-[20px];
}

.footer-society-list {
    @apply ml-[100px] inline lg:inline-block;
}

.footer-society-list li {
    @apply my-5;
}

.footer-help-list {
    @apply ml-[100px] inline lg:inline-block;
}

.footer-help-list li {
    @apply my-5;
}

.footer-image-list {
    @apply ml-[100px] inline lg:inline-block h-[40px] w-auto text-center items-center justify-center;
}

.footer-image-list ul {
    @apply lg:flex;
}

.footer-image-list li {
    @apply flex justify-center mt-5 lg:mx-2;
}

.logo {
    @apply h-[20px] lg:h-[40px] w-auto;
}
