{% extends 'base.html.twig' %}
{% block title %} Inter'net - Statistiques des entreprises {% endblock %}
{% block stylesheet %}
    <link href='css/OutputInternshipStats.css' rel="stylesheet"/> {% endblock %}
{% block javascript %}
<script type="text/javascript" src='https://code.highcharts.com/highcharts.js'></script>
<script src='js/InternshipStats.js'></script>
{% endblock %}
{% block Statistics %}
    <div class="navbar-current">
        <a></a>
        <label class="label">***************</label>
    </div>
{% endblock %}
{% block body %}
    <body>
    <div class="full-runway">
        <div class="top-container">
            <div class="container-search">
                <div class="left-container-search">
                    <div class="filter-block_search-top">
                        <p>Localité :</p>
                        <div class="search_bar">
                            <input type="search" id="input_skills" placeholder="Rechercher"
                                   onkeydown="load_filter(event, 'input_skills');" data-children='ski'>
                            <button type="button" onclick="load_filter(event, 'input_skills');"><img
                                        src="images/Icones/logo_seul.png" alt="V"/></button>
                        </div>
                    </div>
                    <div class="filter-block_search-bot">
                        <div id="ski0" hidden onclick="del_filter_block(event, 'input_skills')">
                            <p></p>
                            <img src="images/Icones/croix-supprimer-le-signe.png">
                        </div>
                        <div id="ski1" hidden onclick="del_filter_block(event, 'input_skills')">
                            <p></p>
                            <img src="images/Icones/croix-supprimer-le-signe.png">
                        </div>
                        <div id="ski2" hidden onclick="del_filter_block(event, 'input_skills')">
                            <p></p>
                            <img src="images/Icones/croix-supprimer-le-signe.png">
                        </div>
                        <div id="ski3" hidden onclick="del_filter_block(event, 'input_skills')">
                            <p></p>
                            <img src="images/Icones/croix-supprimer-le-signe.png">
                        </div>
                        <div id="ski4" hidden onclick="del_filter_block(event, 'input_skills')">
                            <p></p>
                            <img src="images/Icones/croix-supprimer-le-signe.png">
                        </div>
                        <div id="ski5" hidden onclick="del_filter_block(event, 'input_skills')">
                            <p></p>
                            <img src="images/Icones/croix-supprimer-le-signe.png">
                        </div>
                    </div>
                    <p id="nb_stages"><b>250</b> stages avec ces compétences</p>
                </div>
            </div>
            <div class="container-skills-graph" id="graph-skill"></div>
            <div class="container-internship-time-graph" id="graph-time"></div>
            <div class="container-promotions-graph" id="graph-prom"></div>
            <div class="container-france-graph">
                <div class="france-graph">
                    <div class="france-graph-name">
                        <p>Localités</p>
                    </div>
                    <!-- -->
                    <img id="mapSvg" src="images/svg/Carte_remplie_départements_français.svg"/>
                </div>
            </div>
        </div>
        <div class="bottom-container">
            <div class="bottom-container-name">
                <h1>Top des offres mises en wishlist</h1>
            </div>
            <div class="container-company-details-intern-second-scrollbar">
                <button class="container-company-details-container-details-button"
                        id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>1</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
                </button>
                <button class="container-company-details-container-details-button"
                        id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>2</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
                </button>
                <button class="container-company-details-container-details-button"
                        id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>3</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
                </button>
                <button class="container-company-details-container-details-button"
                        id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>4</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
                </button>
                <button class="container-company-details-container-details-button"
                        id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>5</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
                </button>
                <button class="container-company-details-container-details-button"
                        id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>6</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
                </button>
                <button class="container-company-details-container-details-button"
                        id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>7</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
                </button>
                <button class="container-company-details-container-details-button"
                        id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>8</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
                </button>
                <button class="container-company-details-container-details-button"
                        id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>9</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
                </button>
                <button class="container-company-details-container-details-button"
                        id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>10</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
                </button>
                <button class="container-company-details-container-details-button"
                        id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>11</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
                </button>
                <button class="container-company-details-container-details-button"
                        id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>12</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
                </button>
                <button class="container-company-details-container-details-button"
                        id="container-company-details-container-details-button">
                    <span>
                        <div class="container-company-details-container-details"
                             id="container-company-details-container-details">
                            <div class="container-announces-number">
                                <p>13</p>
                            </div>
                            <div class="container-company-intern-div-para">
                                <h1 class="container-h1">Commercial H/F Bac+2</h1>
                                <p class="container-paragraph">Orange - Reims</p>
                                <p class="container-paragraph">Début = 31/01/2024</p>
                                <p class="container-paragraph">3 semaines</p>
                                <div class="container-company-intern-skills">
                                    <ul>
                                        <li>Info</li>
                                        <li>Transportaze</li>
                                        <li>Trt</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
                </button>
            </div>
        </div>
    </div>
    </body>
    <script>load_page();</script>
{% endblock %}