@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    @apply font-display;
}
html, body{
    @apply w-full h-full;
}
body{
    @apply inline-block;
}
button{
    @apply py-1 px-4 font-semibold rounded-xl shadow-md bg-green-true_btn outline-green-button hover:outline;
}
/* --------------------- DEBUT SCROLLBARS-------------------- */

body::-webkit-scrollbar{
    @apply w-[15px];
}

body::-webkit-scrollbar-thumb{
    @apply bg-secondary-scroll_bar_grey;
    border: 2px solid rgb(185,185,185);
    border-radius: 10px;
}

body::-webkit-scrollbar-track{
    border-radius: 10px;
}

body::-webkit-scrollbar-track:hover{
    @apply bg-secondary-grey;
}
/* --------------------- SECOND SCROLLBARS-------------------- */

.second-scrollbar::-webkit-scrollbar{
    @apply w-[15px];
}

.second-scrollbar::-webkit-scrollbar-thumb{
    margin-block: 5px;
    @apply bg-secondary-scroll_bar_grey cursor-default;
    border: 2px solid rgb(185,185,185);
    border-radius: 10px;
}

.second-scrollbar::-webkit-scrollbar-track{
    margin-block: 5px;
    border-radius: 10px;
}

.second-scrollbar::-webkit-scrollbar-track:hover{
    @apply bg-secondary-grey cursor-default;
}

/* --------------------- Troisieme SCROLLBARS-------------------- */

.horizontal-second-scrollbar::-webkit-scrollbar{
    @apply w-[15px];
}

.horizontal-second-scrollbar::-webkit-scrollbar-thumb{
    margin-block: 20px;
    margin-left: 0.5rem;
    @apply bg-secondary-scroll_bar_grey cursor-default;
    border: 2px solid rgb(185,185,185);
    border-radius: 10px;
}

.horizontal-second-scrollbar::-webkit-scrollbar-track{
    margin-block: 20px;
    margin-left: 0.5rem;
    border-radius: 10px;
}

.horizontal-second-scrollbar::-webkit-scrollbar-track:hover{
    @apply bg-secondary-grey cursor-default;
}

/* --------------------- Quatre SCROLLBARS-------------------- */

.second-scrollbar-description-internship::-webkit-scrollbar{
    @apply w-[15px];
}

.second-scrollbar-description-internship::-webkit-scrollbar-thumb{
    margin-block: 0px;
    @apply bg-secondary-scroll_bar_grey cursor-default;
    border: 2px solid rgb(185,185,185);
    border-radius: 10px;
}

.second-scrollbar-description-internship::-webkit-scrollbar-track{
    margin-block: 0px;
    border-radius: 10px;
}

.second-scrollbar-description-internship::-webkit-scrollbar-track:hover{
    @apply bg-secondary-grey cursor-default;
}

/* --------------------- FIN SCROLLBARS-------------------- */

/* ---------------------Onglet à gauche -------------------*/
.main_left{
    @apply fixed bg-secondary-left_bg_grey w-1/4 h-full flex flex-col flex-wrap items-center top-0          max-lg:hidden max-lg:w-full;
}
#close_menu{
    @apply fixed right-0 top-0 m-3 w-5 cursor-pointer;
}
#button_back{
    @apply relative w-4/5 h-12 mt-8 mb-2;
}

.left_container{
    @apply relative w-4/5 p-3 my-3 bg-green-filter rounded-xl drop-shadow-xl;
}
.left_container p{
    @apply cursor-default;
}
.left_container ul{
    @apply flex flex-col;
}
.left_container ul li a{
    @apply relative inline left-[10%] cursor-pointer hover:text-green-true_btn;
}

.left_hide{
    @apply hidden;
}
#actual_page{
    @apply cursor-default underline hover:text-secondary-true_black;
}

.mobile-menu{
    @apply flex z-20;
}
.display-cross{
    @apply hidden;
}
/* ---------------------Fin onglet gauche -------------------*/


/* --------------------- gestion des stages -------------------*/
.main_right{
    @apply fixed flex left-1/4 right-0 top-0 bottom-0 m-10 py-[3.25rem] px-10 rounded-xl outline outline-4 outline-green-button bg-secondary-white max-lg:left-0 max-md:px-1 max-md:pb-2 max-md:pt-[5rem] max-md:overflow-x-auto max-sm:m-2;
}
#right_title{
    @apply absolute text-2xl right-5 top-7 px-3 py-1 rounded-xl outline outline-4 outline-green-button;
}
.right_top{
    @apply h-[11%] flex justify-between items-end;
}
#menu{
    @apply hidden absolute cursor-pointer w-10 top-2 left-10 max-lg:block contrast-0 max-md:w-14 max-md:left-4;
}
#menu_search{
    @apply hidden absolute cursor-pointer w-14 top-2 left-[5.5rem] max-md:block;
}
/* ----------- list à gauche ------------------*/
.search_list-internships{
    @apply flex h-full w-1/4 flex-col max-md:hidden max-md:w-full;
}
.mobile-search_menu-menu{
    @apply flex;
}
.search_bar {
    @apply h-7 w-full mb-4 flex outline outline-2 outline-green-button rounded-xl;
}
 .search_bar input[type="search"] {
    @apply text-center h-full w-5/6 inline-block rounded-l-xl mr-[-5px] bg-secondary-white focus:outline-none focus:text-green-button;
}
.search_bar button[type="button"] {
    @apply h-full w-1/6 p-0 inline-block rounded-none rounded-r-xl shadow-none bg-secondary-white hover:outline-none;
}
.search_bar img {
    @apply h-full pl-1 inline-block;
}

.list-internships{
    @apply flex mt-2 flex-1 flex-col items-center justify-start rounded-xl overflow-y-auto overflow-x-hidden outline outline-1 outline-green-filter;
}
.add-del{
    @apply sticky flex top-0 h-12 py-2 px-1 justify-evenly bg-secondary-white;
}
#add,#delete{
    @apply w-[45%] p-0 font-bold;
}
#delete{
    @apply flex justify-center;
    img{
        @apply h-full;
    }
}
.internship{
    @apply w-[90%] my-2 font-normal outline bg-secondary-transparent outline-secondary-grey hover:outline-green-filter focus:outline-green-button;
}
.container_focus{
    @apply outline-green-button;
}

.del_bg, .valid_bg, .end_bg{
    @apply hidden fixed w-full h-full backdrop-blur-sm;
}
.del_block, .valid_block, .end_block{
    @apply fixed flex w-[50%] min-h-[40%] top-[30%] left-[25%] rounded-xl flex-col justify-center bg-secondary-white outline outline-4 outline-green-button shadow-2xl;
}
.del_text, .valid_text, .end_text{
    @apply absolute top-[35%] left-[10%] right-[10%] text-3xl text-center font-bold;
}
.end_text{
    @apply top-[5%];
}
.end_choice{
    @apply relative flex top-[25%] left-[10%] right-[10%] flex-col;
}
.del_button, .valid_button, .end_button{
    @apply absolute flex w-full bottom-5 justify-center;
    button {
        @apply w-[30%] py-3 mx-3 bg-green-true_btn;
    }
}

.active-del_block{
    @apply block;
}
.del_current_container{
    @apply hidden;
}
/* --------------- fin liste à gauche --------------------*/
/* --------------- profil à droite --------------------*/
.btn_edit{
    @apply mb-4 p-1 w-1/4 rounded-xl bg-green-true_btn;
}
#edit1{
    @apply max-md:hidden;
}
#edit2{
    @apply md:hidden absolute top-[5.25rem] left-5;
}

.profile_internship{
    @apply flex ml-2 flex-1 flex-col max-md:m-0;
}
.mobile-search_menu-profile{
    @apply hidden;
}
.profile{
    @apply flex flex-col items-center;
}
.profile_block{
    @apply flex bg-green-header flex-col flex-1 max-md:bg-secondary-transparent;
}

.internship_top{
    @apply flex min-h-[11rem] h-[25%] m-5 max-md:m-2 max-md:mt-0 justify-between;
}
#company_logo{
    @apply w-1/3 max-h-full self-center object-contain;
}

.left_profile{
    @apply flex h-full w-[48%] px-2 rounded-xl flex-col justify-around bg-secondary-white outline outline-green-button;
}
.right_advantages{
    @apply h-full w-[48%] rounded-xl bg-secondary-white outline outline-green-button overflow-y-auto;
}
.right_advantages > p{
    @apply sticky top-0 text-lg text-center bg-secondary-white;
}
.right_advantages ul{
    @apply pl-6 list-disc;
}

.internship_mid{
    @apply flex mx-5 flex-1 flex-col bg-secondary-white rounded-xl outline outline-green-button max-md:mx-2;
}
.label-company_description{
    @apply block pl-5 font-semibold;
}
#company_description{
    @apply h-full w-full pl-1 resize-none bg-secondary-transparent;
}

.internship_bot{
    @apply h-auto max-h-[40%] px-5 my-2 overflow-y-auto max-md:m-2;
}
.postulation{
    @apply flex h-14 px-3 my-5 justify-between items-center rounded-sm font-normal bg-secondary-white outline outline-secondary-true_black hover:outline-green-button;
}
.postulation > a:hover{
    @apply underline text-green-button;
}
.postulation img{
    @apply cursor-pointer hover:contrast-0;
}
.postulation img.black_check{
    @apply cursor-pointer contrast-0 hover:contrast-100;
}

/* --------------- fin profil à droite --------------------*/
/* ------------------ DEBUT POP-UP AJOUTER PILOTE -----------------*/

.container-add-student {
    @apply rounded-xl top-[5%] left-[5%] fixed bg-secondary-white outline outline-4 outline-green-button h-[90%] w-[90%] z-40;
}
.hide_container{
    @apply hidden;
}
.add-student-name {
    @apply absolute left-[3%] top-7 px-3 py-1 rounded-xl outline outline-4 outline-green-button;
}

.add-student-name h1 {
    @apply text-2xl max-ml:text-lg;
}

.div-button-apply {
    @apply absolute top-8 right-[3%] mb-4 min-w-[15%];
}

.div-button-cancel {
    @apply absolute max-ml:right-[23%] right-[21%] top-8 mb-4 min-w-[15%];
}

.button-apply {
    @apply w-full;
}

.button-cancel {
    @apply w-full;
}

.container-informations-and-description {
    @apply relative bg-green-header w-[94%] h-[86%] mx-[3%] mt-[90px] p-1;
}

.container-students-informations {
    @apply relative overflow-y-auto flex rounded-xl bg-secondary-white w-[98%] h-[44%] mx-[1%] mt-[15px] outline outline-secondary-true_black outline-4 p-8 max-xl:flex-col max-xl:justify-evenly max-xl:items-center max-ml:p-0;
}

.students-informations {
    @apply h-full w-[50%] max-xl:w-[90%] max-xl:mt-[200px] max-md:w-[90%] max-md:mt-[300px];
}

.students-each-informations ul {
    @apply inline-grid w-[48%] h-auto pl-2 max-md:block max-md:w-[97%];
}

.students-each-informations li {
    @apply p-2 bg-green-text_bg mx-2 my-2 rounded-xl;
}

.students-each-informations input {
    @apply  bg-green-text_bg placeholder-secondary-true_black focus:outline-none;
}

.students-each-informations-title ul{
    @apply inline-grid w-[97%] h-auto pl-2 text-center max-md:block;
}

.students-each-informations-title li{
    @apply p-2 bg-green-text_bg mx-2 my-2 rounded-xl;
}

.students-each-informations-title input {
    @apply  text-center bg-green-text_bg placeholder:text-center placeholder-secondary-true_black focus:outline-none;
}

.container-students-description {
    @apply overflow-hidden inline-block relative rounded-xl bg-secondary-white w-[68%] h-[44%] mx-[1%] mt-[50px] outline outline-secondary-true_black outline-4 pt-4 pr-6 pl-6 pb-4 max-lg:w-[55%];
}

.container-students-description-name h1{
    @apply text-2xl underline underline-offset-4 h-auto;
}

.students-description {
    @apply mt-2 p-4 w-full h-[85%] bg-secondary-filter_grey rounded-xl;
}

.students-description textarea{
    @apply overflow-auto w-full h-full resize-none bg-secondary-filter_grey outline-none;
}

.container-pilote-promotion {
    @apply relative inline-block overflow-auto p-2 bg-secondary-white outline outline-4 outline-secondary-true_black rounded-xl w-[27%] h-[44%] mx-[1%] max-lg:w-[40%];
}

.container-pilote-promotion-header-name {
    @apply text-2xl underline underline-offset-4 flex ml-2;
}

.container-pilote-promotion-header-add-button {
    @apply absolute top-2 right-2 w-[40%];
}

.container-each-promotion {
    @apply p-2 mt-2 bg-secondary-filter_grey rounded-xl w-full h-[85%];
}

.container-each-promotion textarea{
    @apply overflow-auto w-full h-full resize-none bg-secondary-filter_grey outline-none;
}

.each-promotion {
    @apply relative p-2 bg-secondary-true_white rounded-xl w-full text-xl first:m-0 mt-1;
}

.each-promotion h1{
    @apply w-[88%];
}

.delete-promotion-button {
    @apply absolute right-2 top-1.5 w-[30px] h-[30px] py-0 px-0 rounded-none shadow-none bg-none outline-none hover:outline-none;
}

.button-add {
    @apply w-full;
}

.container-skills {
    @apply relative w-[50%] max-xl:w-[80%] max-md:w-[95%];
}

.id-internship {
    @apply mt-3 ml-10 text-xl;
}

.big-container {
    @apply relative flex w-full h-[30px] justify-between;
}

.container-skills-name {
    @apply inline-grid mt-1 ml-3 text-lg underline underline-offset-4;
}

.input-adresse {
    @apply inline-grid w-[220px] mx-3;
}

.input-adresse input{
    @apply w-full h-[30px] p-2 mt-2 text-lg bg-secondary-white outline outline-4 outline-green-1 resize-none rounded-xl;
}

.add-button {
    @apply inline-grid w-auto;
}

.container-skills-scroll {
    @apply mt-7 h-[119px] w-full overflow-x-scroll overflow-y-hidden whitespace-nowrap flex max-ml:mb-4;
}

.container-skills-scroll ul {
    @apply mr-2 last:mr-0;
}

.container-skills-scroll li {
    @apply h-[48%];
}

.each-skill {
    @apply text-center relative items-center justify-center p-2 pr-10 bg-green-button w-full h-auto rounded-xl first:ml-2;
}

.each-skill p {
    @apply inline-block text-xl;
}

.each-skill img {
    @apply inline-block w-[20px] h-[20px];
}

/* ------------------ FIN POP-UP AJOUTER PILOTE ----------------- */

/* ----------------------- fin gestion des stages ------------------*/
