<html>
<head>
    <title>Hello{{ name }}</title>
    <link rel="stylesheet" href="{{ assets('build/css/app.css') }}">
</head>
<body>
    {# Block principal de l'application #}
    <p>Hello {{ name }} !</p>
</body>
</html>